<a href="https://colab.research.google.com/github/Koroteika/University/blob/main/%22%D0%94%D0%9F%D0%9E_%D0%9E%D1%81%D0%BD%D0%BE%D0%B2%D1%8B_Python_%D0%9F%D1%80%D0%B0%D0%BA%D1%82%D0%B8%D1%87%D0%B5%D1%81%D0%BA%D0%B0%D1%8F_%D1%80%D0%B0%D0%B1%D0%BE%D1%82%D0%B0_1_ipynb%22.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Практическая работа №1. Введение в Python. Функции ввода-вывода. Основные типы и структуры данных**

---

**Обучающийся:** *Коротеев Владислав Николаевич*  

---

---

## **Блок заданий №1. Функция `print`**

#### 1. Выведите на экран фразу **"Добро пожаловать в мир Python!"** с помощью функции `print`.

In [1]:
# Ваш код
print("Добро пожаловать в мир Python!")

Добро пожаловать в мир Python!

#### 2. Выведите на экран результат сложения чисел **15** и **27**.

In [1]:
# Ваш код
print(15+27)

42

#### 3. Сохраните свое имя в переменную и выведите его на экран с помощью `print`.

In [2]:
# Ваш код
name = "Vladislav"
print(name)

Vladislav

#### 4. Выведите на экран несколько строк текста, каждая из которых отображается с новой строки.

In [3]:
# Ваш код
s="qwerty"
s1="qwertyu"
s2="qwertyui"
print(s)
print(s1)
print(s2)

qwerty
qwertyu
qwertyui

#### 5. Выведите результат математического выражения с использованием f-строк, например:

   ```python
   7 + 7 = 14
   ```

In [5]:
# Ваш код
a=15
b=27
c=a+b
print(f"{a} + {b} = {c}")

15 + 27 = 42

## **Блок заданий №2. Функция `input`**

#### 1. Запросите у пользователя три разных числа и выведите их произведение.

In [7]:
# Ваш код
a=int(input("Введите первое число: "))
b=int(input("Введите второе число: "))
c=int(input("Введите третье число: "))
print(f"Произведение чисел: {a*b*c}")

Введите первое число: 1
Введите второе число: 2
Введите третье число: 3
Произведение чисел: 6

#### 2. Попросите пользователя ввести свое ФИО, а затем выведите фамилию и инициалы.

In [12]:
# Ваш код
s=input("Введите ФИО: ")
s1=s.strip().split()

surname=s1[0]
name=s1[1]
midname=s1[2]

print(f"{surname} {name[0]}.{midname[0]}.")

Введите ФИО: Коротеев Владислав Николаевич
Коротеев В.Н.

#### 3. Получите от пользователя строку и символ, затем определите, сколько раз этот символ встречается в строке.

In [16]:
# Ваш код
line=input("Введите строку: ")
char=input("Введите символ: ")
print(line.count(char))

Введите строку: hello world
Введите символ: o
2

#### 4. Попросите пользователя ввести любимый цвет и выведите сообщение: **"[Цвет] - красивый цвет!"**.

In [17]:
# Ваш код
s=input("Введите свой любимый цвет: ")
print(f"{s} - красивый цвет!")

Введите свой любимый цвет: Красный
Красный - красивый цвет!

#### 5. Получите от пользователя строку и выведите ее длину.

In [18]:
# Ваш код
s=input("Введите строку: ")
print(len(s))

Введите строку: hello
5

## **Блок заданий №3. Тип данных `int`**

#### Тип данных `int`

1. Создайте переменную типа `int`, присвойте ей значение **42** и выведите на экран.

In [19]:
# Ваш код
a=42
print(a)

42

2. Вычислите и выведите результат выражения **(17 * 3) + (10 / 2)** в виде целого числа.

In [20]:
# Ваш код
print(int((17*3)+(10/2)))

56

3. Преобразуйте строку **"100"** в целое число и добавьте к нему **25**.

In [21]:
# Ваш код
s="100"
s=int(s)
print(s+25)

125

4. Проверьте тип переменной, которая хранит значение **7**, используя функцию `type()`.

In [22]:
# Ваш код
a=7
print(type(a))

<class 'int'>

5. Создайте две переменные целого типа, присвойте им значения и выведите их разницу.

In [23]:
# Ваш код
a=10
b=5
print(a-b)

5

## **Блок заданий №4. Тип данных `float`**

#### 1. Запросите у пользователя вещественное число и выведите его квадрат.

In [25]:
# Ваш код
a=float(input("Введите вещественное число: "))
print(a**2)

Введите вещественное число: 2.2
4.840000000000001

#### 2. Запросите у пользователя вещественное число и округлите его до двух знаков после запятой.

In [26]:
# Ваш код
a=float(input("Введите вещественное число: "))
print(round(a,2))

Введите вещественное число: 2.1234
2.12

#### 3. Сложите два числа с плавающей точкой: **2.5** и **4.7**, выведите результат.

In [27]:
# Ваш код
print(2.5+4.7)

7.2

#### 4. Преобразуйте градусы Цельсия, введенные пользователем, в Фаренгейты по формуле `F = C * 9/5 + 32`.

In [28]:
# Ваш код
с=float(input("Введите градусы Цельсия: "))
f=c*(9/5)+32
print(f"Градусы Фаренгейта: {f}")

Введите градусы Цельсия: 3
Градусы Фаренгейта: 37.4

#### 5. Получите от пользователя длину и ширину прямоугольника, вычислите его площадь и периметр.

In [33]:
# Ваш код
a=float(input("Введите длину: "))
b=float(input("Введите длину: "))
s=a*b
p=a*2+b*2
print(f"Площадь {s} \nПериметр {p}")

Введите длину: 2
Введите длину: 4
Площадь 8.0
Периметр 12.0

## **Блок заданий №5. Тип данных `str`**

####1. Создайте строку **"Python - самый популярный язык программирования"** и выведите ее.

In [34]:
# Ваш код
s="Python - самый популярный язык программирования"
print(s)

Python - самый популярный язык программирования

####2. Выведите первый и последний символы строки **"Привет, мир!"**.

In [35]:
# Ваш код
s="Привет, мир!"
print(s[0])
print(s[-1])

П
!

####3. Соедините три строки: **"МИИГАиК - "** , **"Лучший "**, **"ВУЗ!"** выведите результат.

In [37]:
# Ваш код
s="МИИГАиК - "
s1="Лучший "
s2="ВУЗ!"
line=s+s1+s2
print(line)

МИИГАиК - Лучший ВУЗ!

####4. Преобразуйте строку **"12345"** в число и выведите тип полученного значения.

In [38]:
# Ваш код
s="12345"
s_int=int(s)
print(s)
print(type(s_int))

12345
<class 'int'>

####5. Сделайте все буквы строки **"python is Fun"** заглавными и выведите результат.

In [39]:
# Ваш код
s="python is Fun"
print(s.title())

Python Is Fun

## **Блок заданий №6. Тип данных `list`**

####1. Создайте список из чисел **[10, 20, 30, 40, 50]** и выведите его.

In [41]:
# Ваш код
a=list((10,20,30,40,50))
print(a)

[10, 20, 30, 40, 50]

####2. Добавьте в список строку **"новый элемент"** и выведите обновленный список.

In [42]:
# Ваш код
a=list((10,20,30,40,50))
a.append("новый элемент")
print(a)

[10, 20, 30, 40, 50, 'новый элемент']

####3. Из списка `['python', 'java', 'c++', 'ruby', 'perl']` выведите элементы с 2-го по 4-й включительно.

In [45]:
# Ваш код
a=['python', 'java', 'c++', 'ruby', 'perl']
print(a[1:4])

['java', 'c++', 'ruby']

####4. Создайте пустой список, добавьте в него три любых значения и выведите итоговый список.

In [47]:
# Ваш код
a=[]
for i in range(3):
  a.append(i)
print(a)

[0, 1, 2]

####5. Измените второй элемент списка **[1, 2, 3, 4, 5]** на число **200** и выведите список.

In [48]:
# Ваш код
a=[1, 2, 3, 4, 5]
print(a)
a[1]=200
print(a)

[1, 2, 3, 4, 5]
[1, 200, 3, 4, 5]

## **Блок заданий №7. Тип данных `tuple`**

####1. Создайте кортеж из чисел **(1, 2, 3, 4, 5)** и выведите его на экран.

In [51]:
# Ваш код
a=tuple((1, 2, 3, 4, 5))
print(a)

(1, 2, 3, 4, 5)

####2. Попробуйте изменить первый элемент кортежа и объясните в комментариях к программе, что произошло.

In [52]:
# Ваш код
a=tuple((1, 2, 3, 4, 5))
a[0]=1
print(a)
# Выведет ошибку по причине того что tuple(кортеж) неизменяемый тип данных
# 'tuple' object does not support item assignment

TypeError: 'tuple' object does not support item assignment

####3. Преобразуйте кортеж в строку и выведите результат.

In [55]:
# Ваш код
t = (1, 2, 3, 4, 5)
result = ''.join(map(str, t))
print(result)

12345

####4. Проверьте, содержится ли определенный элемент в кортеже, выведите соответствующее сообщение.

In [59]:
# Ваш код
a=tuple((1, 2, 3, 4, 5))
b=1
print(a)
print(f"Элемент для поиска - {b}")
if b in a:
  print(f"Элемент {b} содержится в кортеже")
else:
  print(f"Элемент {b} не содержится в кортеже")

(1, 2, 3, 4, 5)
Элемент для поиска - 1
Элемент 1 содержится в кортеже

####5. Создайте кортеж, состоящий из нескольких одинаковых элементов, и найдите их количество с помощью метода `count()`.

In [61]:
# Ваш код
a = (1, 2, 3, 2, 4, 2, 5, 2)
print(f"Количество вхождений элемента 2: {a.count(2)}")

Количество вхождений элемента 2: 4

## **Блок заданий №8. Тип данных `dict`**

####1. Создайте словарь с данными о себе: ключи **"имя"**, **"возраст"**, **"город"**; выведите его.

In [62]:
# Ваш код
dictionary = {"имя":"Владислав",
              "возраст": 21,
              "город": "Москва"}
print(dictionary)

{'имя': 'Владислав', 'возраст': 21, 'город': 'Москва'}

####2. Выведите значение по ключу **"имя"** из созданного словаря.

In [64]:
# Ваш код
dictionary = {"имя":"Владислав",
              "возраст": 21,
              "город": "Москва"}
print(dictionary.get("имя"))
print(dictionary["имя"])

Владислав
Владислав

####3. Добавьте в словарь новый ключ **"профессия"** со значением и выведите словарь.

In [65]:
# Ваш код
dictionary = {"имя":"Владислав",
              "возраст": 21,
              "город": "Москва"}
dictionary["профессия"]="студент"
print(dictionary)

{'имя': 'Владислав', 'возраст': 21, 'город': 'Москва', 'профессия': 'студент'}

####4. Удалите из словаря ключ **"город"** и выведите обновленный словарь.

In [66]:
# Ваш код
dictionary = {"имя":"Владислав",
              "возраст": 21,
              "город": "Москва"}
del dictionary["город"]
print(dictionary)

{'имя': 'Владислав', 'возраст': 21}

####5. Создайте пустой словарь и добавьте в него пару ключ-значение, введенных пользователем.

In [67]:
# Ваш код
dictionary = {}
key = input("Введите ключ: ")
value = input("Введите значение: ")

dictionary[key] = value

print(dictionary)

Введите ключ: город
Введите значение: Москва
{'город': 'Москва'}